
<div style="margin:0px 30px;">
    <p align="justify">
        Calzado Coqueta S.A. de C.V. con domicilio en Justo Sierra 721 col. Centro en León, Gto. México,  constituida en la Escritura 2288 ante el notario público no. 24 de la misma ciudad Lic. Federico Plascencia Pérez, es el titular del portal online: http://distribuidores.coqueta.com.mx, que pone a disposición de los USUARIOS, contenidos de carácter informativo sobre sus actividades.
        El acceso al portal online: http://distribuidores.coqueta.com.mx, implica sin reservas la aceptación de las presentes condiciones generales de uso que el USUARIO afirma comprender en su totalidad. El USUARIO se compromete a no utilizar el sitio web y los servicios que se ofrecen en el mismo para la realización de actividades contrarias a la ley y a respetar en todo momento las presentes condiciones generales.
        <br /><br />
        <strong>PRIMERA.- CONDICIONES DE ACCESO Y USO</strong><br />
        1.1.- La utilización del portal online: http://distribuidores.coqueta.com.mx conlleva la obligatoriedad de inscripción del USUARIO. Las condiciones de acceso y uso del presente sitio web se rigen estrictamente por la legalidad vigente y por el principio de buena fe comprometiéndose el USUARIO a realizar un buen uso del portal. Quedan prohibidos todos los actos que vulneren la legalidad, derechos o intereses de terceros: derecho a la intimidad, protección de datos, propiedad intelectual etc. Expresamente Calzado Coqueta S.A. de C.V.  prohíbe los siguientes:<br />
        1.1.1.- Realizar acciones que puedan producir en el portal online o a través del mismo por cualquier medio cualquier tipo de daño a los sistemas de Calzado Coqueta S.A. de C.V. o a terceros.<br />
        1.1.2.- Realizar sin la debida autorización cualquier tipo de publicidad o información comercial directamente o de forma encubierta, el envío de correos masivos ("spaming") o envío de grandes mensajes con el fin de bloquear servidores de la red ("mail bombing").<br />
        1.2.- Calzado Coqueta S.A. de C.V. podrá interrumpir en cualquier momento el acceso a su portal online si detecta un uso contrario a la legalidad, la buena fe o a las presentes condiciones generales- ver cláusula quinta.
        <br /><br />
        <strong>SEGUNDA.- CONTENIDOS</strong><br />
        Los contenidos incorporados en este sitio web han sido elaborados e incluidos por:<br />
        2.1.- Calzado Coqueta S.A. de C.V. utilizando fuentes internas y externas de tal modo que Calzado Coqueta S.A. de C.V. únicamente se hace responsable por los contenidos elaborados de forma interna.<br />
        2.2.- Calzado Coqueta S.A. de C.V.se reserva el derecho a modificar en cualquier momento los contenidos existentes en su portal online.
        <br /><br />
        <strong>TERCERA.- DERECHOS DE AUTOR Y MARCA</strong><br />
        Calzado Coqueta S.A. de C.V. informa que el portal online www.distribuidores.coqueta.com.mx. los contenidos propios, la programación y el diseño del sitio web se encuentra plenamente protegido por los derechos de autor, quedando expresamente prohibida toda reproducción, comunicación, distribución y transformación de los referidos elementos protegidos salvo consentimiento expreso de Calzado Coqueta S.A. de C.V. utiliza fuentes externas para la elaboración de sus contenidos en determinadas ocasiones y también establece links o hiperenlaces a artículos o informaciones de terceros citando siempre la fuente. El legítimo titular de los derechos de autor de estas informaciones así incluidas podrá solicitar en cualquier momento la eliminación de las referidas referencias.
        <br /><br />
        <strong>CUARTA.- JURISDICCIÓN Y LEY APLICABLE</strong><br />
        Las presentes condiciones generales se rigen por la legislación mexicana. Son competentes para resolver toda controversia o conflicto que se derive de las presentes condiciones generales los Juzgados de México renunciando expresamente el USUARIO a cualquier otro fuero que pudiera corresponderle.
        <br /><br />
        <strong>QUINTA.</strong><br />
        En caso de que cualquier cláusula del presente documento sea declarada nula, las demás cláusulas seguirán vigentes y se interpretarán teniendo en cuenta la voluntad de las partes y la finalidad misma de las presentes condiciones. Calzado Coqueta S.A. de C.V. podrá no ejercitar alguno de los derechos y facultades conferidos en este documento lo que no implicará en ningún caso la renuncia a los mismos salvo reconocimiento expreso por parte de Calzado Coqueta S.A. de C.V.
    </p>
</div>
<div class="modal-footer">
    <button type="button" id="btnCancelar" data-dismiss="modal" class="btn btn-danger">CERRAR&nbsp;&nbsp;&nbsp;<i class="fa fa-lg fa-times-circle"></i></button>
</div>
