@*@using Coqueta.Portal.Web.Comun.Constantes;*@
<div class="small">
    <span>
        @*COQUETA ONLINE v.@ConstanteVersion.VersionAplicacion*@
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="#" class="text-decoration-none" onclick="MostrarAvisoPrivacidad();">Aviso de Privacidad</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="#" class="text-decoration-none" onclick="MostrarTerminosCondicionesUso();">Términos y Condiciones de Uso</a>
    </span>
</div>